

<div id='footer'>
    <div id='copyright'>&copy; 2018 Designed and Coded By Sean Hart<br>
    Send feedback to <a href=mailto: seanhart23@gmail.com id='mailto'>seanhart23@gmail.com</a></div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>
</html>