<!DOCTYPE html>
<html>
    <head>
      <title>My Financial Planner</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400" rel="stylesheet">      
      <link rel="stylesheet" href="/css/main.css">
      <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
      <script src="https://code.jquery.com/jquery.js"></script>
      <script type="text/javascript" src='/js/main.js'></script>
      <link rel="icon" type="image/png" href="/images/favicon.ico">
      <link rel="apple-touch-icon" href="/images/favicon.ico">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    </head>
    <body>


<div id='landing-header'>


<div class='container' id='title'>My Financial Planner</span>

    <span class='pull-right'>
        <% if(!currentUser){ %>
        <a href='/register' class='header-link'>Register</a> 
        <a href='/login' class='header-link'>Login</a> 
        <a href=mailto:seanhart23@gmail.com class='header-link'>Send Feedback</a>
        <% } else { %>
        <a href="/dashboard" class='header-link'>Dashboard</a></a>
        <a href="/expense" class='header-link'>Monthly Expense Tracker</a>
        <span class="nav-item dropdown">
        <a class="dropdown-toggle header-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Debt
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/debt">Debt Tracker</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/snowball">Debt Snowball</a>
          <div class="dropdown-divider"></div>
        </div>
      
       <a href="/logout" class='header-link'>Logout</a>
        <% } %>

</span></div>
   <div><% if(!currentUser){ %>
    <% } else { %>
           <div id='mobile-link-bar'>
            <a href="/dashboard" class='mobile-link'>Dashboard</a> -
            <a href="/expense" class='mobile-link'>Expenses</a> -
            <span class="nav-item dropdown">
                <a class="dropdown-toggle mobile-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Debt Tools</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/debt">Debt Tracker</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/snowball">Debt Snowball</a>
                    <div class="dropdown-divider"></div>
                </div> -
            <a href="/logout" class='mobile-link'>Logout</a>
        </div>
    <% } %>
  </div></div>

    


    </div>
  </div>
</nav>
