<% include ../partials/header %>

<div class='container' style='margin-top: 75px'>
    <h1>Your Starting Balance</h1>
    <a href='sb/new' class='btn btn-default btn-success btn-xs pull-right' id='addBill'>Add a SB</a>
    <p></p>
    <% sb.forEach(function(sb){ %>
        <div><span id='startingBalance'><%= sb.startingBalance %></span></strong></div>
    <% }) %>
                </p>
            </div>
        </div>

<% include ../partials/footer %>
