<div class="modal-header">
    <h5 class="modal-title">Add an New Budget Line</h5>
</div>
<div class="modal-body">
    <form action='/budgetItem' method='POST' id='formLayout'>
        <div class="form-group">
            Name: <input class='form-control' type='text' name='itemLabel' placeholder='Name' onkeypress="CheckSpace(event)"/>
        </div>
        <div class='form-group'>
            Type:
            <select class='form-control' name="type">
                <option value="" disabled selected>Select a type</option>
                <option value="Income">Income</option>
                <option value="Expense">Expense</option>
            </select>
        </div>                   
        <div class='form-group'>
            Planned Amount: <input class='form-control' type='number' name='planned' value='0.00' min='0.00' step='0.01'>
        </div>
        <div class='form-group'>
            <button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
            <a href='/budgetItem' data-dismiss="modal" class='btn btn-lg bt-warning btn-block'>Go Back</a>
        </div>
    </form>
</div>