<% include ./partials/header.ejs %>

<style>
    @media screen and (max-width: 640px) {
        body {
        overflow-x: hidden;
        }
    }
</style>
<div id='paMobileHeader'>
<div class='container'>
        <h3 id='welcome'></h3>
        <div class='pull-right' id='date'></div>
        <h1><%= currentUser.name %>'s Dashboard</h1>
        <hr>
</div>
</div>
<script>
        
//DATE

var d = new Date();
document.getElementById("date").innerHTML = d.toDateString();

</script>

<div class='container'>
    <div class='row'>
        <div class='col-lg-3 col-sm-12' id='mobile-card'>
            <div class='chiclet'>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Overview</strong></div>
                        <table class="table">
                            <tr>
                                <td>Monthly Bills</td>
                                <% var totalBills = 0 %>
                                    <% bills.forEach(function(bill){ %>
                                        <% if(currentUser.username === bill.author.username  || currentUser.username === bill.authUser){ %>
                                        <% totalBills = totalBills + bill.amountDue %>
                                        <% } %>
                                        <% }) %>
                                <td class='td-right'><span id='dollarSign'>$</span><div class='table-number'><%= totalBills.toFixed(2) %></div></td>
                            </tr>
                            <tr>
                                <td>Debt Remaining</td>
                                <% var totalDebts = 0 %>
                                    <% debt.forEach(function(debt){ %>
                                        <% if(currentUser.username === debt.author.username  || currentUser.username === debt.authUser){ %>
                                        <% totalDebts = totalDebts + debt.amount %>
                                        <% } %>
                                        <% }) %>
                                <td class='td-right'><span id='dollarSign'>$</span><div class='table-number'><%= totalDebts.toFixed(2) %></div></td>
                            </tr>
                        </table>
                    </div>
                    </div>
                    </div>
                    <div class='col-lg-3 col-sm-12' id='mobile-card'>
                        <div class='chiclet'>
                            <div class='panel' id="outerChart">
                                <div class="panel-heading"><strong>Payoff Chart</strong></div>
                                <br>
                                    <div id='chartOutline'>
                                        <div id='chartLine'>
                                        <div id='chart'>     
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <% include ./partials/footer %>

    </div>

<script type="text/javascript" src='/js/dashboard.js'></script>


