<% include ./partials/header %>

<div class='container'>
    <div class='container'>
        <h1>The Hart Family Dashboard</h1>
        
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="button" id='one' class="btn btn-default">1st Half</button>
            <button type="button" id='full' class="btn btn-default">Full Month</button>
            <button type="button" id='two' class="btn btn-default">2nd Half</button>
        </div>
        <br>
        <div class="pull left">
            <a href='./bills' class="btn btn-success btn-xs">Add/Edit Bills</a>    
            <!-- <a href='./income' class="btn btn-success btn-xs">Add/Edit Income</a> -->
        </div>
    </div>
    
<p>
    
    <div class='col-lg-6 col-md-6'>
        <form>
            <h4>Bank Account Balance:</h4> <input class='form-control' type='number' id="balance" name='balance' value='0.00' min='0.00' step='0.01'>
        </form>
        <p></p>
        <div class='chiclet'>
            <div class="panel panel-default panel-danger">
                <div class="panel-heading">Bills</div>
                    <table class="table" id="bills">
                        <tr>
                            <th>Due Date</th>
                            <th>Payee</th>
                            <th>Amount Due</th>
                            <th>Website</th>
                        </tr>
                            <% bills.forEach(function(bill){ %>
                        <tr>
                            <td><%= bill.dueDate %></td>
                            <td><%= bill.payee %></td>
                            <td><%= bill.amountDue %></td>
                            <td><a href="https://<%= bill.website %>" class="btn btn-success btn-xs">Go to Website</a></td>
                            <% }) %>
                        </tr>    
                    </table>
                </div>
            </div>
        </div>
    
    <div class='col-lg-6 col-md-6'>
        <div class='chiclet'>
            <div class="panel panel-default panel-default">
                <div class="panel-heading">Totals</div>
                    <table class="table">
                        <tr>
                            <th>Type</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <td>Income</td>
                            <td>$ <span id='accountBalance'></span></td>
                        </tr>
                        <tr>
                            <td>Bills</td>
                            <td>$ <span id="totalBill"></span></td>
                        </tr>                          
                        <tr>
                            <td>Remaining</td>
                            <td>$ <span id="remaining"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

<% include ./partials/footer %>