<% include ./partials/header %>
<link rel="stylesheet" href="/css/landing.css">

<div class='container' id="content">
    <h1>My Financial Planner</h1>
    <p>
    <a href='./dashboard' class="btn btn-primary">Get Started</a>    
</div>

<script type="text/javascript" src='/js/budget.js'></script>

<% include ./partials/footer %>