<h1>Starting Debt Page

<% var totalDebt = 0 %>
<% startingDebt.forEach(function(startingDebt){ %>
<% if(currentUser.username === startingDebt.author.username){ %>
<% totalDebt = totalDebt + startingDebt.amount %>
<a href="https://my-financial-planner-seanhart23.c9users.io/startingDebt/<%= startingDebt._id %>/edit">edit</a>
<% } %>
<% }) %>
<%= totalDebt %>

