#amount {
    width: 15%;
    vertical-align: middle;
    text-align: center;
}

#chart {
    background-color: green;
    bottom: 0px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding-top: 0px;
    height: 1px;
    border-style: outset
}

#chartLine {
    border-bottom: .5px solid lightgray;
    height: 100%;
    bottom: 0px;
    width: 125%;
    margin-right: auto;
    margin-left: auto;
}

#chartOutline {
    border: 1px solid red;
    height: 225px;
    background-color: white;
    /*border-top-left-radius: 50px;*/
    /*border-top-right-radius: 50px;*/
    /*overflow: hidden;*/
    position: relative;
    width: 65px;
    margin-left: auto;
    margin-right: auto;
    color: red;
}

#debts{
    border-collapse: separate;
    border-spacing: 0px 15px;
    margin-top: -15px;
    /*margin-bottom: 50px;*/
}

#interestRate {
    vertical-align: middle;
    width:12%;
    text-align: center;
}

#last_update {
    vertical-align: middle;
    width: 15%;
    text-align: center;
}

#paid-off-debts{
    border-collapse: separate;
    border-spacing: 0px 15px;
    margin-top: -15px;
}

#payeeDebt {
    width: 30%;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#type {
    vertical-align: middle;
    width: 15%;
    display: none;
}
