body {
    background-image: url("/images/Landing.jpg");
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

html {
	height: 100%;
}

h1 {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4)
	,            0px 8px 13px rgba(0,0,0,0.1)
	,			 0px 18px 23px rgba(0,0,0,0.1);
	font-size: 50px;
}

p {
    margin-top: 25px;
}

#content {
	text-align: center;
	padding-top: 130px;
	color: white;
	height: 100%;
}