td {
    width: 90px;
}

h1 {
    font-weight: bold;
}


h4 {
    margin-top: 0px;
}

table {
    table-layout: fixed;
    width: auto;
}

.btn-xs {
    width: 100px;
}

.paid {
    text-decoration: line-through;
}

.edit-title {
    text-align: center;
}

.chiclet {
    width: 100%;
    font-size: 12px;
}

.panel-heading {
    font-size: 14px;
    text-align: center;
}

.navbar {
    border-radius: 0;
}

.glyphicon {
    line-height: 15px;
}

#welcome {
    display: inline;
}

#billHeader {
    display: inline;
}

#addBill {
    margin-top: 20px;
}


#status {
    padding: 2px 12px;
    height: 23px;
    font-size: 11px;
}

#group {
    padding-top: 30px;
    margin-right: 15px;
    margin-bottom: 0px;
}