body {
    font-size: 13px;
    color: #202031;
}

h1 {
    font-size: 30px;
    font-weight: 200;
}

h4 {
    margin-top: 0px;
}

select {
    border-radius: 0px;
}

strong {
    font-weight: 400;
}

table {
    table-layout: fixed;
    width: auto;
    margin-bottom: 50px;
}

td {
    width: 11.5%;
    text-transform: uppercase;
}

tr {
    border-right: none;
    border-left: none;
}

th {
    text-transform: uppercase;
}

.actions{
    text-align: center;
}

.btn-xs {
    width: 100px;
    background-color: #7D98A1;
}

.btn-sm {
    background-color: #7D98A1;
}

.chiclet {
    width: 100%;
    font-size: 12px;
}

.dollarAmount {
  text-align: right;
}

.edit-title {
    text-align: center;
}

.fa-plus {
    color: white;
}

.form-control {
    border-radius: 0px;
}

.form-group {
    border-radius: 0px;
}

.glyphicon {
    line-height: 15px;
}

.inputForm {
    margin-top: 40px;
}

.itemLabel {
    width: 30%;    
}

.itemLabelIncome {
    width: 41.5%;    
}

.leftButton {
    width: 100%;
    margin-top: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #EEF1EF;
}

.modal-header {
    background-color: #2D5386;
    color: white;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    color: #EEF1EF;
    background-color: #2D5386;
}

.navbar {
    border-radius: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #2D5386;
}

.negative-header {
    color: red!important;
}

.panel {
    margin-bottom: 10px;
    border: 0px;
}

.panel-heading {
    font-size: 16px;
    text-align: center;
    background-color: #2D5386!important;
    color: White!important;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel-default {
    margin-bottom: 0px;
    border: 0px;
}

.positive-header {
    color: green!important;
}

.secondary-link {
    text-decoration: none;
    color: gray;
    font-weight: 500;
    padding-left: 2px;
}

#addBill {
    margin-top: 20px;
}

#amount {
    width: 15%;
    vertical-align: middle;
}

#auto{
    text-align: center;
    width: 12%;
    vertical-align: middle;
}

#balance {
    box-shadow: none;
    border: none;
    border-bottom: .5px solid #202031;
    font-size: 20px;
    font-weight: 350;
    letter-spacing: 1px;
}
#bills {
    text-transform: uppercase;
}

#billHeader {
    display: inline;
}

#billWebsite {
    text-align: center;
}

#BOA {
    text-align: center;
}

#BOAimage {
    width: 95%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

#col1 {
    width: 60%;
}

#deleteButton {
    border: none;
    font-size: 14px;
    background: none;
    height: 100%;
    color: black;
}

#description {
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    padding-right: 0px;
}

#due {
    width: 10%;
    text-align: center;
    vertical-align: middle;
}

#goButton {
    width: 60%;
}

#group {
    padding-top: 30px;
    margin-right: 15px;
    margin-bottom: 0px;
}

#hiddenButton {
    background-color: transparent;
    color: black;
    border: 0px;
    font-size: 14px;
    padding-top: 0px;
    width: 15px;
}

#interestRate {
    vertical-align: middle;
    width:12%;
}

#link {
    text-decoration: none;
    color: white;
    position: relative;
}

#link:after {
    display:block;
    content: '';
    border-bottom: solid 1px #4A94BA;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

#link:hover:after {
    transform: scaleX(1);
}

#login {
    margin-top: 100px;
}

#monthlyPayment {
    vertical-align: middle;
    width: 10%;
}

#payee {
    width: 28%;
    vertical-align: middle;
}

#status {
    padding: 2px 12px;
    height: 23px;
    font-size: 11px;
}

#statusdd {
    text-align: center;
}

#trash {
    width: 6%;
}

#type {
    vertical-align: middle;
    width: 16%;
}

#userID {
    padding-top: 15px;
    padding-right: 100px;
}

#website{
    text-align: center;
    width: 10%;
}

#welcome {
    text-align: left;
    font-weight: 400;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 75px;
}



