
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: auto; 
    font-family: 'Merriweather', serif;
    font-size: 13.5px;
    color: #202031;
    
}

h1 {
    font-size: 25px;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: 'Merriweather', serif;
    color: #000080;
}

h4 {
    margin-top: 0px;
    font-weight: 300;
    font-size: 16px;
}

hr {
    margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

select {
    border-radius: 0px;
}

strong {
    font-weight: 400;
}

table {
    table-layout: fixed;
    width: auto;
    border: 0px;
}

td {
    width: 11.5%;
    text-transform: uppercase;
    padding: 0px;
}

tr {
    border-right: none;
    border-left: none;
}

tr:nth-child(even) {
    background-color: rgb(253, 253, 253);
}

th {
    text-transform: uppercase;
}

.actions{
    text-align: center;
    padding: 500px;
}

.btn-xs {
    width: 50px;
    background-color: Navy;
    border: 1px solid rgb(240, 240, 208);
}

.btn-sm {
    background-color: white;
    color: blue;
    border: 1px solid rgb(240, 240, 208);
}

.btn-sm:hover {
    background-color: rgb(253, 253, 253);
    color: blue;
    border: 1px solid rgb(240, 240, 208);
    z-index: 0;
}

.chiclet {
    width: 100%;
    /*font-size: 12px;*/
    margin-bottom: 20px;
    /*border: 1px solid black;*/
    /*box-shadow: 1px 1px 1px #000000;*/
}

.container {
    padding: 0px;
}

.dashboard-table {
    /*font-size: 14px;*/
}

.dropdown-divider {
    margin: 10px 0px;
}

.dropdown-item {
    padding: 10px 0px;
    text-decoration: none;
    color: #000080;
    width: 100%;
    font-size: 16px;
}

.dropdown-item:hover {
    padding: 10px 0px;
    text-decoration: none;
    color: #000080;
    width: 100%;
}

.dropdown-menu {
    text-align: center;    
}

.dollarAmount {
  text-align: right;
}

.edit-title {
    text-align: center;
}

.emptyMessage {
    text-align: center;
}

.fa-plus {
    color: navy;
}

.form-control {
    border-radius: 0px;
}

.form-group {
    border-radius: 0px;
}

.glyphicon {
    line-height: 15px;
}

.infoTitle {
    font-weight: bolder;
    color: black;
    font-size: 15px;
}

.inputForm {
    margin-top: 40px;
    width: 25%;
}

.itemLabel {
    width: 30%;   
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.itemLabelIncome {
    width: 33%; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.leftButton {
    width: 100%;
    margin-top: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #EEF1EF;
}

.main {
    overflow-y: scroll;
    margin-top: 50px;
}

.main-table {
    margin-bottom: 200px;
}

.mobile {
    display: none;
}

.modal {
    height: 95%;
    width: auto;
}

.modal-btn {
    font-size: 13px;
}

.modal-content {
    width: 60%;
    margin: 0px auto;
}

.modal-body {
    width: auto;
    padding-bottom: 0px;
}

.modal-input {
    height: 25px;
}

.modal-header {
    background-color: navy;
    color: white;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    color: #EEF1EF;
    background-color: navy;
}

.navbar {
    height: 100px;
    background-color: white;
    box-shadow: 0px 0px 1px #000000;
    border-radius: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
    /*background-color: Navy;*/
    border: none;
    /*box-shadow: 0px 1px 4px #000000;*/
    /*height: 100px;*/
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #000080;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #2D5386;
}

.header-link {
    font-size: 18px;
    text-decoration: none!important;
    /*text-transform: uppercase;*/
    color: #000080;
    margin-right: 40px;
}

.negative-header {
    color: red!important;
}

.panel {
    margin-bottom: 10px;
    border: 0px;
}

.panel-heading {
    font-size: 16px;
    text-align: left;
    background-color: rgb(240, 240, 208)!important;
    color: Black!important;
    border-radius: 0px;
    border: 0px;
    /*box-shadow: 0px 1px 2px #000000;*/
    height: 40px;
    /*font-style: italic;*/
    font-weight: 800;
}

.panel-default {
    margin-bottom: 0px;
    border: 0px;
}

.payBillbtn {
    width: 50%;
}

.percentage {
    display: none;
}

.positive-header {
    color: green!important;
}

.row {
    margin-left: 0px;
}
.secondary-link {
    text-decoration: none;
    color: gray;
    font-weight: 500;
    padding-left: 2px;
}

.snowball {
    width: 140px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 0px;
    font-size: 13px!important;
    margin-bottom: 50px;
}

.snowball-head {
    font-weight: 800;
    background-color: Navy!important;
    text-align: center;
    color: white;
    white-space: normal;
}

.snowball-header {
    height: 50px;
    vertical-align: middle;
    padding: 0px 5px;
    width: 140px;
}

.snowballTD {
    
}

.table {
    margin-bottom: 0px;
}

table.sortable thead {
    font-weight: bold;
    cursor: default;
}

.table>tbody>tr>td.actions {
    padding: 0px;
    vertical-align: middle;
}

.table-number {
    width: 119px;
    float: right;
    letter-spacing: 1px;
}

.td-right {
    text-align: right;
}

.test{
    border: 1px solid red;
}

.wrapper {
        min-height: calc(100% - 100px);
        margin: 0;
        position: relative;
        bottom: 0px;
}

#addBill {
    margin-top: 20px;
}

#amount {
    width: 15%;
    vertical-align: middle;
}

#auto{
    text-align: center;
    width: 12%;
    vertical-align: middle;
}

#balance {
    box-shadow: none;
    border: none;
    font-size: 12px;
    font-weight: 350;
    padding: 0px;
    height: 16px;
    text-align: right;
    color: green;
}

#balanceInput {
    font-size: 16px;
}

#bills {
    text-transform: uppercase;
}

#billHeader {
    display: inline;
}

#billWebsite {
    text-align: center;
}

#budgetMobileTotal {
    display: none;
}

#chart {
    background-color: limegreen;
    bottom: 0px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding-top: 0px;
    height: 1px;
}

#chartLine {
    border-bottom: .5px solid lightgray;
    height: 100%;
    bottom: 0px;
    width: 125%;
    margin-right: auto;
    margin-left: auto;
}

#chartOutline {
    border: 1px solid lightgray;
    height: 225px;
    background-color: #ffe6e6;
    /*border-top-left-radius: 50px;*/
    /*border-top-right-radius: 50px;*/
    /*overflow: hidden;*/
    position: relative;
    width: 65px;
    margin-left: auto;
    margin-right: auto;
}

#color {
    width: .75%;
}

#col1 {
    width: 25%;
}

#copyright {
    text-align: center;
    padding-top: 30px;
}

#date {
    margin-top: 15px;
}

#deleteButton {
    border: none;
    font-size: 14px;
    background: none;
    height: 100%;
    color: black;
}

#description {
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    padding-right: 0px;
}

#dollarSign {
  position:relative;
  margin-right:-40px
}

#due {
    width: 13%;
    text-align: center;
    vertical-align: middle;
}

/*#emptyMessageBills {*/
/*    display: none;*/
/*}*/

#footer {
    height: 100px;
    background-color: Navy;
    bottom: 0;
    position: relative;
    /*margin-top: 50px;*/
    color: white;
}

#goButton {
    width: 60%;
}

#group {
    padding-top: 30px;
    margin-right: 15px;
    margin-bottom: 0px;
}

#head {
    border-bottom: 1px solid black;
}

#hiddenButton {
    background-color: transparent;
    /*color: Navy;*/
    border: 0px;
    font-size: 12px;
    padding-top: 0px;
    width: auto;
}

#info {
    position: relative;
    display: inline-block;
}

#info {
    font-size: 15px!important;
    padding-right: 15px;
    display: inline-block;
}

#info .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    border: 1px solid gray;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: 0px;
}

#info:hover .tooltiptext {
    visibility: visible;
}

#info:active .tooltiptext {
    visibility: visible;
}

#interestRate {
    vertical-align: middle;
    width:12%;
}

#landing-header {
    height: 100px;
    background-color: white;
    box-shadow: 0px 2px 4px #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

#link {
    text-decoration: none;
    color: white;
    position: relative;
}

#link:after {
    display:block;
    content: '';
    border-bottom: solid 1px #4A94BA;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

#link:hover:after {
    transform: scaleX(1);
}

#login {
    margin-top: 150px;
    border: .5px solid gray;
    text-align: left;
    padding-bottom: 10px;
    background-color: white;
    /*box-shadow: 1px 1px 1px #000000;*/
    height: auto;
}

#login-header {
    font-family: serif;
    margin-bottom: 5px;
    color: #000080;
    /*border-bottom: 1px solid #000080;*/
    padding-bottom: 5px;
}

#login-button {
    margin-bottom: 15px;
    background-color: #000080;
    color: white;
}

#login-hr {
    margin-top: 3px;
}

#login-input {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#mailto {
    text-decoration: none;
    color: white;
}
#main-banner {
    background-color: gray;
    height: 300px;
    margin-top: 100px;
    opacity: .7;
    color: white;
    box-shadow: 1px 1px 1px #000000;
    padding: 25px;
    letter-spacing: 1px;
    margin-left: 10px;
    display: none;
}

#mobile-card {
    margin-bottom: 10px;
}

#mobile-link {
    display: none;
}

#mobile-link-bar {
    display: none;
}

#monthlyPayment {
    vertical-align: middle;
    width: 10%;
}

#paidOff {
    /*margin-top: 50px;*/
    display: inline;
    float: right;
    width: 119px;
    letter-spacing: 1px;
}

#outerChart.panel {
    padding-bottom: 10px;
    /*border: 1px solid #000080;*/
}

#output {
    text-decoration: none;
    color: white;
    position: relative;
    padding: 15px;
    font-weight: 100;
    padding-right: 100px;
}

#paMobileHeader{
    width: 100%;   
}

#payee {
    width: 30%;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#payeeDebt {
    width: 30%;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#percent {
    text-align: center;
    padding-top: 50%;
    width: 63px;
}

#percentage {
    display: none;
}

#register {
    font-size: 18px;
    text-decoration: none;
    /*text-transform: uppercase;*/
    color: #000080;
    margin-right: 40px;
}

#remaining {
    width: 119px;
    float: right;
    letter-spacing: 1px;
}

#save {
    display: inline-block;
    width: 23%;
}

#snowball {
    display: inline-block;
    white-space: nowrap;
    margin-right: 100px;
}

#snowballInfo {
    margin-bottom: 20px;
    border: 1px solid #000080;
    padding: 20px;
    width: 40%;
}

#snowballPanel {
    margin-bottom: 2px;
    width: auto;
}

#status {
    padding: 2px 12px;
    height: 23px;
    font-size: 11px;
}

#statusdd {
    text-align: center;
}

#title {
    font-size: 33px;
    padding-top: 25px;
    font-family: 'Merriweather', serif;
    color: #000080;
}

#trash {
    width: 6%;
}

#type {
    vertical-align: middle;
    width: 15%;
    display: none;
}

#userID {
    padding-top: 15px;
    padding-right: 100px;
}

#website{
    text-align: center;
    width: 10%;
}

#welcome{
    margin-top: 150px;
    
}

#welcome-space {
    width: 150px;
}
/*MOBILE SETTINGS*/

@media screen and (max-width: 640px) {

body {
    overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
}

/*hr {*/
/*    display: none;*/
/*}*/

h1 {
    margin-bottom: 10px;
}

table {
    font-size: 12px;
    margin-bottom: 0px;
}

th {
    font-size: 10px;
}

.container {
    padding: 0px;
}

.dollarAmount {
    text-align: left;
}

.dropdown-item {
    padding: 10px 0px;
    text-decoration: none;
    color: #000080;
    width: 100%;
    font-size: 14px;
}

.dropdown-item:hover {
    padding: 10px 0px;
    text-decoration: none;
    color: white;
    width: 100%;
}

.mobile-link {
    font-size: 14px;
    text-decoration: none;
    color: white;
}
.modal-content {
    width: 90%;
    margin: 0px auto;
}

.panel {
    margin-bottom: 0px;
}

.payBillbtn {
    font-size: 10px;
}

#auto {
    width: 7%;
}

#amount {
    width: 10%
}

#billWebsite {
    width: 10%;
}

#budgetMobileTotal {
    display: inline-block;
    margin-bottom: 15px;
}

#budgetTotals {
    display: none;
}

#date {
    display: none;
}

#delete {
    width: 10%;    
}

#deleteButton {
    padding: 0px;
    margin: 0px;
}

#due {
    width: 5%;
}

#interestRate {
    display: none;
}

#main-banner {
    display: none;
}

#mobile-card {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#mobile-link {
    display: inline;
    text-decoration: none;
    color: #000080;
    margin-top: 10px;
    font-size: 14px;

}

#mobile-link-bar {
    width: 100%;
    display: inherit;
    height: 25px;
    background-color: #000080;
    margin-top: 10px;
    text-align: center;
    color: white;
    line-height: 1.75;
}

#login {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 50%!important;
}

#login-header {
    text-align: left;
    margin-bottom: 15px;
}

#login-hr {
    display: inline!important;
}

#statusdd {
    display: none;
}

#paMobileHeader {
    padding: 40px 20px 0px 20px;
    /*margin-bottom: 10px;*/
    text-align: center;
}

#payee {
    width: 15%;
}

#payeeDebt {
    width: 30%;
}

.header-link {
    display: none;
}

#snowballInfo {
    width: 100%;
}

#title {
    text-align: center;
    padding-top: 10px;
}

#website {
    display: none;
}

#type {
    display: none;
}

#welcome {
    text-align: center;
    padding-bottom: 0px;
    margin-top: 100px;
}
}