.favorite-button {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    background-color: red;
    text-decoration: none;
    color: white;
    border-radius: 6px;
}

.menu-button {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    border-radius: 6px;
}

#menu {
   padding: 0px 20px 0px 20px;
   position: fixed;
   height: 100%;
   border-right: 1px solid gray;
   background-color: white;
   z-index: 1;
}