<% include ../partials/header %>

<div class='container'>
    <h1>Your Bills</h1>
    <h5><a href='bills/new'>Add a bill</a></h5>
    <% bills.forEach(function(bill){ %>
        <div class="panel panel-primary">
            <div class="panel-body">
                <strong><%= bill.payee %></strong>
                <div class="pull-right"><p><a href="/bills/<%= bill._id %>" class="btn btn-primary btn-xs">More Info</a></p></div>
            </div>
        </div>
    <% }) %>
</div>


