<% include ../partials/header %>

<div class='container'>
    <h1><%= income.source %></h1> 
    <p>Amount: $<%= income.amount %>
    <p><a href="/income/<%= income._id %>/edit" class='btn btn-xs btn-primary'>Edit</a>
    <form action="/income/<%= income._id %>?_method=DELETE" method="POST" class="delete-form">
        <button class='btn btn-xs btn-danger'>Delete</button>
    </form>
</div>


