<div class="modal-header">
    <h5 class="modal-title">Add Extra Monthly Payment</h5>
</div>
<div class="modal-body">
            <form action='/extraAmount' method='POST'>
                <div class='form-group'>
                    Amount: <input class='form-control modal-input' type='number' name='amount' value='0.00' min='0.00' step='0.01'>
                </div>
                <div class='form-group'>
                    <button class="btn btn-lg btn-default btn-block btn-primary modal-btn">Submit</button>
                    <a href='/snowball' class='btn btn-lg bt-warning btn-block modal-btn'>Go Back</a>
                </div>
            </form>
        </div>
</div>
